---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?dataset=LPI&key=<ORDNANCE_SURVEY_PLACES_API_KEY>&postcode=SW1P2LQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Tx-Id:
      - 1588598837339:339
      Status:
      - success
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?dataset=LPI&postcode=SW1P2LQ",
            "query" : "postcode=SW1P2LQ",
            "offset" : 0,
            "totalresults" : 16,
            "format" : "JSON",
            "dataset" : "LPI",
            "lr" : "EN,CY",
            "maxresults" : 100,
            "epoch" : "75",
            "output_srs" : "EPSG:27700"
          },
          "results" : [ {
            "LPI" : {
              "UPRN" : "10033539608",
              "ADDRESS" : "FLAT 1, D BLOCK PEABODY ESTATE, OLD PYE STREET, LONDON, CITY OF WESTMINSTER, SW1P 2LQ",
              "USRN" : "8400146",
              "LPI_KEY" : "5990L000166902",
              "SAO_TEXT" : "FLAT 1",
              "PAO_TEXT" : "D BLOCK PEABODY ESTATE",
              "STREET_DESCRIPTION" : "OLD PYE STREET",
              "TOWN_NAME" : "LONDON",
              "ADMINISTRATIVE_AREA" : "CITY OF WESTMINSTER",
              "POSTCODE_LOCATOR" : "SW1P 2LQ",
              "RPC" : "2",
              "X_COORDINATE" : 529735.0,
              "Y_COORDINATE" : 179254.0,
              "STATUS" : "APPROVED",
              "LOGICAL_STATUS_CODE" : "1",
              "CLASSIFICATION_CODE" : "RD06",
              "CLASSIFICATION_CODE_DESCRIPTION" : "Self Contained Flat (Includes Maisonette / Apartment)",
              "LOCAL_CUSTODIAN_CODE" : 5990,
              "LOCAL_CUSTODIAN_CODE_DESCRIPTION" : "CITY OF WESTMINSTER",
              "POSTAL_ADDRESS_CODE" : "D",
              "POSTAL_ADDRESS_CODE_DESCRIPTION" : "A record which is linked to PAF",
              "BLPU_STATE_CODE" : "2",
              "BLPU_STATE_CODE_DESCRIPTION" : "In use",
              "TOPOGRAPHY_LAYER_TOID" : "osgb1000042216769",
              "PARENT_UPRN" : "10033551650",
              "LAST_UPDATE_DATE" : "12/11/2018",
              "ENTRY_DATE" : "27/04/2003",
              "BLPU_STATE_DATE" : "27/04/2003",
              "LPI_LOGICAL_STATUS_CODE" : "1",
              "LPI_LOGICAL_STATUS_CODE_DESCRIPTION" : "APPROVED",
              "LANGUAGE" : "EN",
              "MATCH" : 1.0,
              "MATCH_DESCRIPTION" : "EXACT"
            }
          }, {
            "LPI" : {
              "UPRN" : "10033539609",
              "ADDRESS" : "FLAT 10, D BLOCK PEABODY ESTATE, OLD PYE STREET, LONDON, CITY OF WESTMINSTER, SW1P 2LQ",
              "USRN" : "8400146",
              "LPI_KEY" : "5990L000011804",
              "SAO_TEXT" : "FLAT 10",
              "PAO_TEXT" : "D BLOCK PEABODY ESTATE",
              "STREET_DESCRIPTION" : "OLD PYE STREET",
              "TOWN_NAME" : "LONDON",
              "ADMINISTR[...]
