---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v99999999/addresses/postcode?dataset=LPI&key=<ORDNANCE_SURVEY_PLACES_API_KEY>&postcode=AA1A1AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n{\n  \"error\" : {\n    \"code\" : \"OS-101\",\n              \"message\"
        : \"The requested resource can not be found on the server\"\n  }\n}\n          \t"
  recorded_at: Mon, 04 May 2020 13:29:02 GMT
recorded_with: VCR 5.1.0
