---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?dataset=LPI&key=<ORDNANCE_SURVEY_PLACES_API_KEY>&postcode=SW1A2AA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error" : {
            "statuscode" : 500,
            "message" : "The provided request resulted in an internal server error."
          }
        }
  recorded_at: Mon, 04 May 2020 13:31:48 GMT
recorded_with: VCR 5.1.0
