---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?dataset=LPI&key=<ORDNANCE_SURVEY_PLACES_API_KEY>&postcode=SW1A3AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Tx-Id:
      - 1590752792632:632
      Status:
      - success
    body:
      encoding: UTF-8
      string: |-
        {
          "header" : {
            "uri" : "https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?dataset=LPI&postcode=SW1A3AA",
            "query" : "postcode=SW1A3AA",
            "offset" : 0,
            "totalresults" : 0,
            "format" : "JSON",
            "dataset" : "LPI",
            "lr" : "EN,CY",
            "maxresults" : 100,
            "epoch" : "75",
            "output_srs" : "EPSG:27700"
          }
        }
  recorded_at: Fri, 29 May 2020 11:46:32 GMT
recorded_with: VCR 5.1.0
