---
http_interactions:
- request:
    method: get
    uri: https://api.ordnancesurvey.co.uk/places/v1/addresses/postcode?dataset=LPI&key=<ORDNANCE_SURVEY_PLACES_API_KEY>&postcode=AA1A1AA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "error" : {
            "statuscode" : 400,
            "message" : "Requested postcode must contain a minimum of the sector plus 1 digit of the district e.g. SO1. Requested postcode was AA1A1AA"
          }
        }
  recorded_at: Thu, 21 May 2020 15:08:24 GMT
recorded_with: VCR 5.1.0
